:root {
  --base: #fffffa;
  --base-alt: #f7f3f2;
  --contrast: #323232;
  --contrast-alt: #4c4c4c;
  --accent: #0043ce;
}

body {
  padding: 1.5rem;
  margin: auto;
  max-width: 678px;
  font-size: 1.125rem;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: var(--contrast);
  background-color: var(--base);
}

h1, h2, h3, h4, h5 {
  margin: 2rem 0 1rem;
}

a {
  color: var(--accent);
  text-decoration: none;
  border-bottom: 1px solid var(--accent);
}

a:hover {
  border-bottom: 2px solid var(--accent);
}

footer {
  font-size: small;
  border-top: 1px dashed;
  text-align: center;
  color: var(--contrast-alt);
}

img {
  max-width: 100%;
}

blockquote {
  margin: 0;
  padding: 1rem 2rem;
  background: var(--base-alt);
  border-left: 5px solid currentColor;
}

code {
  padding: 0.3rem;
  border-radius: 0.5rem;
  font-family: monospace;
  background-color: var(--base-alt);
}

pre {
  overflow: auto;
  padding: 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
}

pre code {
  background: none;
}
.posts-list {
  padding-left: 0;
  list-style: none;
}
.posts-list li:not(:last-child) {
  padding-bottom: 0.75rem;
}
.posts-list time {
  color: var(--contrast-alt);
  font-size: smaller;
}
