<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% block head %}{% endblock head %}
    <link rel="stylesheet" href="{{ get_url(path=config.extra.stylesheet) | safe }}">
    <link rel="icon" type="image/png" href="{{ get_url(path=config.extra.favicon) | safe }}">
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) | safe }}">
    <link rel="canonical" href="{{ current_url | safe }}">
  </head>
  <body>
    <header>
      <h1>Tosh's Internet Corner<h1>
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
    <footer>
      <p>
        <a href="#">Back to top ↑</a><br>
      <p>
      <p>
        Maintained with ♥ for a simple & performant web.<br>
        Privacy respecting <a href="https://chaoticenginerd.goatcounter.com">analytics</a> via <a href="https://www.goatcounter.com/">GoatCounter</a>.
      <p>
    </footer>
  <!-- GoatCounter analytics -->
  <script data-goatcounter="https://chaoticenginerd.goatcounter.com/count"async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
