{% extends "base.html" %}


{% block head %}
<title>{{ section.title }} - {{ config.title }}</title>
<meta name="description" content="{{ section.description }}">
{% endblock head %}

{% block content %}
  <section>
    {% set posts = get_section(path="posts/_index.md") %}
    {{ posts.content | safe }}
    <ul class="posts-list">
      {% for page in posts.pages %}
      <li>
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        <time datetime="{{ page.date }}">{{ page.date | date(format="%b %d, %Y") }}</time>
      </li>
      {% endfor %}
    </ul>
  </section>
  {{ section.content | safe }}
{% endblock content %}
